$accent: #4985ff;
$fontFam: "Montserrat", sans-serif;
$titlecolor: #323232;
$subTitlecolor: rgba(109, 105, 105, 0.6);

$screen-5iphone: 350px;
$screen-xxxs: 480px;
$screen-xxs: 576px;
$screen-xs: 640px;
$screen-s: 768px;
$screen-m: 980px;
$screen-l: 1200px;
